* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif !important;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

main {
  position: relative;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
}
